*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

html ,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    gap: 1rem;
    background:  linear-gradient(rgb(61, 61, 61));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    color: white;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    text-align: right;
}

#captain{
    font-size: 1.5rem;
}
h2{
    font-weight: 500;
}

button{
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(21, 151, 21);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
     transition: all ease 0.3s;
}

button:active{
    scale: 0.9; 
}

h5{
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
    position: fixed;
    bottom: 10%;
}